/* Getting rid of default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:"Garamond",sans-serif;
}

.title {
    text-align: center;
    padding: 50px;
    font-family: Futura, Garamond, sans-serif;
    text-transform: uppercase;
    background-color: rgb(210, 210, 210,0.6);
    letter-spacing: 0.2rem;
}

.form_bg {
    /* initializing bg-image and bg-image-opacity variables  */
    --bg-image:url("../images/BackGroundImage.jpg");
    --bg-image-opacity:.6;
    isolation: isolate;
}

.form_bg::after { 
    content:'';
    position: fixed;
    /* inset is a shorthand for top,bottom,left and right. Typically used when the position is absolute */
    inset: 0;
    z-index: -1;
    background-image: var(--bg-image);
    height: 100%;
    width: 100%;
    background-position: center center;
    
    opacity: var(--bg-image-opacity);
    background-size: cover;
    background-repeat: no-repeat;
}

.form_text {
    background-color: rgb(210, 210, 210,0.8);
    margin: 5rem auto;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    width: 50rem;
    max-width: 100%;
}

p {
    padding: 30px;
    line-height: 40px;
}

.btn {
    /* border: 2px solid black; */
    padding: 12px;
    border-radius: 5px;
    background-color: rgb(98, 135, 158);
    color: #fff;
    margin: 0 auto;
    text-decoration: none;
}
/* link is for unvisited */
.btn:link,.btn:visited {
    text-decoration: none;
}

.btn:hover {
    background-color: rgb(20, 51, 70) ;

}

/* carousel configuration */
img {
    display: block;
    /* look more into max-width */
    max-width: 100%;
    /* border: 2px solid darkblue; */
}

.slider {
    border: 5px solid rgb(11, 11, 21);
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 15px;
    overflow: hidden;
    height: 40rem;
    width: 40rem;
    padding: 5px;
    box-shadow: 5px 5px 2px #7f3f00;
    border-radius: 6px;

}

.gallery {

    overflow: scroll;
    /* scroll-snap-type on the parent,scroll-snap-align on the children */
    scroll-snap-type: y mandatory;
    /* border: 2px solid orange; */
    overflow-x: hidden;
    scroll-behavior: smooth;
    border: 2px solid rgb(26,9,10);
    border-radius: 5px;
}

.gallery img {
    scroll-snap-align: start;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    object-position: auto;
    object-fit: auto;
}

.left_nav {
    overflow-y: scroll;
    overflow-x: hidden;
    border: 2px solid rgb(26, 9, 10);
    border-radius: 5px;
}

.left_nav a {
    height: 200px;
    display: flex;
    margin-bottom: 10px;

}

.left_nav img {
    object-position: center;
    object-fit: auto;
}

.left_nav img:hover {
    transform: scale(1.06);
}

.formBorder {
    
  background-color: #f0f0f0;
  border-radius: 10px; /* Adjust the value to control the roundness of the corners */
  padding: 20px; /* Add padding as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;

}









